@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Itim');

.card-desc {
  background-color: white;
  font-family: $font-main;
  height: 50%;
  overflow: hidden;
  position: relative;
  right: 5px;
  top: -11px;
  width: 104.45%;
}

.expanded-description {
  height: 53%;
  width: 101.35%;
}

.top-p {
  margin: 6px 0 8px 0;
  font-size: 2rem;
  color: $color-purple;
}

p {
  font-size: 0.9rem;
  margin: 5px;
}

a {
  display: block;
}

.rescue-info {
  border-bottom: 1px solid $color-grey;
  font-size: 1.5rem;
  margin-left: 10px;
}

.contact-table {
  margin: 0 auto;
  width: 400px;
}

.table-content {
  height: 35px;
  text-align: left;
}

.left-column {
  width: 50px;
}