.card {
  overflow: hidden;
  border: solid #00c7d6 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 1px grey;
  width: 100%;
  height: 250px;
  color: black;
  -moz-border-radius: 10px;
  background-color: #00c7d6;
  }

.card:hover > .dog-img {
  filter: blur(1px);
}

.card:hover > .card-desc {
  text-decoration: blur;
}

.card:hover {
  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 800ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}

.dog-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(2deg);}
  25% {-webkit-transform: rotate(-2deg);}
  50% {-webkit-transform: rotate(5deg);}
  75% {-webkit-transform: rotate(-2deg);}
  100% {-webkit-transform: rotate(0deg);}
}