@import url('https://fonts.googleapis.com/css?family=Itim');



.card-desc {
  border: solid 4px #00c7d6;
  position: relative;
  top: -3px;
  right: 4px;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  font-family: Itim, Arial, sans-serif;
  overflow: hidden;
}

p {
  margin: 5px;
}

.top-p {
  margin-top: 12px;
  font-size: 2rem;
}

.expanded-description {
  height: 53%;

}

a {
  display: block;
}

.rescue-name {
  font-size: 2.2rem;
  font-weight: bold;
  color: tomato;
}

.rescue-info {
  font-size: 1.5rem;
}