@import url('https://fonts.googleapis.com/css?family=Itim');



.card-desc {
  position: relative;
  top: -11px;
  left: -5px;
  right: 4px;
  height: 50%;
  width: 104.45%;
  background-color: white;
  font-family: Itim, Arial, sans-serif;
  overflow: hidden;
}

p {
  margin: 5px;
  font-size: 0.9rem;
}

.top-p {
  margin: 6px 0 8px 0;
  font-size: 2rem;
  color: #402D83;
}

.expanded-description {
  height: 53%;
  width: 101.35%;
}

a {
  display: block;
}

.rescue-name {
  font-size: 2.2rem;
  font-weight: bold;
  color: tomato;
}

.rescue-info {
  font-size: 1.5rem;
  margin-left: 10px;
  border-bottom: 1px solid grey;
}

.contact-table {
  margin: 0 auto;
  width: 400px;
}

.table-content {
  text-align: left;
  height: 35px;
}

.left-column {
  width: 50px;
}
