@import 'variables.scss';

.card {
  background-color: $color-blue;
  border-radius: 5px;
  border: solid $color-blue 5px;
  box-shadow: 2px 2px 8px 1px grey;
  color: black;
  height: 250px;
  -moz-border-radius: 10px;
  width: 100%;
}

.img-overlay::after {
  background-image: -webkit-linear-gradient(top, rgba(225, 225, 225, 0) 0, #fff 100%);
  @include image-overlay(150%);
  content: '';
  display: block;
  height: 100px;
  left: -5px;
  margin-top: -97px;
  position: relative;
  top: -11px;
  width: 104.5%;
}

.card:hover > .img-overlay::after {
  @include image-overlay(1000%)
}

.card:hover {
  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 800ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}

.expanded-card {
  grid-column: span 3;
  grid-row: span 2;
  height: 533px;
  transition: 1s;
}

.dog-img {
  border-radius: 5px 5px 0 0;
  height: 100px;
  left: -5px;
  object-fit: cover;
  position: relative;
  top: -5px;
  width: 104.5%;
}

.expanded-img {
  height: 220px;
  width: 101.35%;
}

.icon {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  top: -7px;
}

.icon:hover {
  cursor: pointer;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(1deg);}
  25% {-webkit-transform: rotate(-.5deg);}
  50% {-webkit-transform: rotate(1deg);}
  75% {-webkit-transform: rotate(-.5deg);}
  100% {-webkit-transform: rotate(0deg);}
}