.sidebar {
  overflow: hidden;
  width: 255px;
  height: 35px;
  border: 2px solid #000;
  padding: 1rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: none;
  background-color: white;
  transition: 1s;

  position: absolute;
  left: -220px;
}

.breed-sb {
  top: 50px;
}
.gender-sb {
  top: 275px;
}
.size-sb {
  top: 500px;
}

.age-sb {
  top: 725px;
}

.house-trained-sb {
  top: 900px;
}

.caret {
  width: fill;
  border-radius: 5%;
  border: solid 2px black; 
  display: block;
  margin: 8px -13px;
  background-color: lime;
}

.caret-wrapper {
  float: right;
  width: 30px;
  height: 30px;
  /*border-radius: 50%;*/
  /*border: solid 2px #000; */
  transition: .7s;
}

.caret-wrapper:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.toggled-modal {
  height: 125px;
  left: 0;
  z-index: 0;
  /*transform: rotate(180deg);*/
}






