@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Itim');

input[type=search]{
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

.search-div {
  position: relative;
}

.search-bar {
  border-color: $color-blue;
  border-radius: 10px;
  box-shadow: gray 2px 2px 4px;
  font-family: $font-main;
  font-size: 1.2rem;
  margin: 15px 30px 15px 15px;
  padding: 2px 2px 2px 5px;
  text-shadow: gray 1px 1px 1px;
  transition: transform .4s linear;
  width: 40%;
  z-index: 1000000;

  &:focus {
    outline: none;
    transform: scale(1.1);
  }
}

.autocomplete-section {
  background-color: white;
  position: absolute;
  top: 49px;
  left: 340px;
  width: 505px;
  z-index: 100;
  border-radius: 0 0 5px 5px;
  border-top: none;
  border: 1px solid grey;
  border-top: none;
}

button {
  background-color: white;
  border-radius: 10px;
  border: 2px solid $color-blue;
  box-shadow: gray 2px 2px 4px;
  font-family: $font-main;
  font-size: 1.1rem;
  height: 30px;
  margin: 8px;
  position: relative;
  top: -1px;
  transition: background-color .4s linear;
  transition: color .4s linear;
  transition: transform .4s linear;

  &:hover {
    background-color: $color-blue;
    border-color: $color-green;
    color: white;
    cursor: pointer;
    transform: scale(1.15);
    transition: .4s;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: $color-green;
    transition: 0s;
  }
}