@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Itim');

input[type=search]{
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

.search-bar {
  border-color: #00c7d6;
  border-radius: 10px;
  box-shadow: gray 2px 2px 4px;
  font-family: Itim, Arial, Sans-Serif;
  font-size: 1.2rem;
  margin: 15px 30px 15px 15px;
  padding: 2px 2px 2px 5px;
  text-shadow: gray 1px 1px 1px;
  transition: transform .4s linear;
  width: 40%;

  &:focus {
    outline: none;
    transform: scale(1.1);
  }
}

button {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #00c7d6;
  box-shadow: gray 2px 2px 4px;
  font-family: $font-main;
  font-size: 1.1rem;
  height: 30px;
  margin: 8px;
  position: relative;
  top: -1px;
  transition: background-color .4s linear;
  transition: color .4s linear;
  transition: transform .4s linear;

  &:hover {
    background-color: #00c7d6;
    border-color: #00ff00;
    color: white;
    cursor: pointer;
    transform: scale(1.15);
    transition: .4s;
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: #00ff00;
    transition: 0s;
  }
}