@import 'variables.scss';

.splash-cont {
  margin: 0 150px;

}
.switch {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 144px;
  border-radius: 20px;
  border: 1px $color-grey;
  background-color: white;
  overflow: hidden;
  box-shadow: 2px 2px 8px $color-grey inset;
  margin: 5px;
}

.low-switch {
  width: 166px;
}

.radios {
  color: $color-grey;  
  appearance: none;
  display: flex;
  position: relative;
  line-height: 1.5em;
  height: 34px;
  width: 42px;
  border: 0.1em solid transparent;
  outline: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  
  &:hover {
  color: black;
  }
  &:checked {
  transition: 1s;
  border: 0.1em outset hsl(0,0,75%);
  border-radius: 50px;
  background-color: $color-purple;
  box-shadow: 2px 2px 5px $color-grey;
  color: white;
  }
  &::after {
  content: attr(value);
  }
}

.splash {
  position: absolute;
  z-index: 5000;
  background: $color-blue;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.splash-title {
  color: white;
  margin-top: 0;
  font-size: 6em;
}

.fetch-dogs-btn {
  background-color: $color-purple; 
  background-image: -webkit-gradient(linear, left top, left bottom, from($color-purple), to(#3D2B81));
  border: none;
  width: 150px;
  height: 30px;
  color: white;
  font-size: 1em;

  &:hover {
  background-color: $color-purple; 
  background-image: -webkit-gradient(linear, left top, left bottom, from($color-purple), to(#24194d));
  }
}

.show-all-dogs-btn {
  background: none;
  border: none;
  text-decoration: underline;
  width: 150px;
  font-size: .8em;
}
