.splash-cont {
  margin: 0 150px;
}
.switch {
  display: flex;
  flex-direction: row;
  width: 135px;
  border-radius: 20px;
  border: 1px gray;
  background: linear-gradient(to right, hsl(0,0,90%), white, hsl(0,0,90%));
  overflow: hidden;
  box-shadow: 2px 2px 8px lightgray inset;
  margin: 5px;
}

.radios {
  color: gray;  
  appearance: none;
  display: block;
  position: relative;
  line-height: 1.5em;
  height: 18px;
  width: 40px;
  border: 0.1em solid transparent;
  outline: none;
  text-align: center;
}

.radios:hover {
  color: black;
}

.radios:checked {
  transition: 1s;
  border: 0.1em outset hsl(0,0,75%);
  border-radius: 50px;
  background: linear-gradient(to right, white, hsl(0,0,95%));
  box-shadow: 2px 2px 5px gray;
  color: black;
}

.radios::after {
  content: attr(value);
}

.splash {
  background: #11c4d3;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.splash-title {
  color: white;
  margin-top: 0;
  font-size: 6em;
}

.fetch-dogs-btn {
  background-color: #865AB7; background-image: -webkit-gradient(linear, left top, left bottom, from(#865AB7), to(#3D2B81));
  border: none;
  margin-left: -4.1px;
  width: 150px;
  height: 30px;
  color: white;
  font-size: 1em;
}

.fetch-dogs-btn:hover {
    background-color: #865AB7; background-image: -webkit-gradient(linear, left top, left bottom, from(#5d3e80), to(#24194d));
}

.show-all-dogs-btn {
  background: none;
  border: none;
  text-decoration: underline;
  width: 150px;
  font-size: .8em;
}
