@import url('https://fonts.googleapis.com/css?family=Itim');
$font-name: Itim, Arial, sans-serif;
$color-purple: #865AB7;
$color-blue: #00c7d6;
$color-green: lime;
$font-main: Itim, Arial, sans-serif;