@import url('https://fonts.googleapis.com/css?family=Itim');

$color-purple: #865AB7;
$color-blue: #00c7d6;
$color-green: lime;
$font-main: Itim, Arial, sans-serif;

$color-grey: grey;

@mixin image-overlay($percentage) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, black $percentage);
}