@import url('https://fonts.googleapis.com/css?family=Itim');

$color-purple: #865AB7;
$color-blue: #00c7d6;
$color-green: lime;
$color-grey: grey;
$color-lightgrey: lightgrey;
$color-black: black;
$font-main: Itim, Arial, sans-serif;
